In [1]:
import numpy as np
import pandas as pd
import csv

In [2]:
filteredGeneList = pd.read_csv('../../../../Database/filteredGenesDetails_human_240118.txt',sep='\t')
acc2gene={}
for idx,row in filteredGeneList.iterrows():
    acc2gene[row['AccNum']] = row['GeneName']

In [52]:
rna21 = pd.read_csv('../csv_raw/RNA_T2_against_T1.csv')
te21 = pd.read_csv('../csv_raw/TE_t2_t1.csv')

In [53]:
te21.head()

,Unnamed: 0,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj
0,NM_017847,112.294090,-0.796732,0.432941,-1.840280,0.065727,0.999629
1,NM_001003803,182.333378,-0.188181,0.319531,-0.588930,0.555908,0.999629
2,NM_001003800,354.785989,0.296601,0.534332,0.555088,0.578834,0.999629
3,NM_016649,208.700788,-0.504956,0.434598,-1.161893,0.245279,0.999629
4,NM_016647,148.352948,0.349597,0.884340,0.395320,0.692607,0.999629

In [54]:
comb=pd.DataFrame({"AccNum": list(te21['Unnamed: 0'])})

In [55]:
comb['Gene'] = comb['AccNum'].map(acc2gene)
comb['TElogFC'] = te21['log2FoldChange']
comb['RNAlogFC'] = rna21['log2FoldChange']

In [56]:
comb.head()

         AccNum   Gene   TElogFC  RNAlogFC
0     NM_017847   ODR4 -0.796732 -0.126207
1  NM_001003803  ATP5S -0.188181  0.848025
2  NM_001003800  BICD2  0.296601 -0.134068
3     NM_016649   ESF1 -0.504956 -0.967037
4     NM_016647  THEM6  0.349597 -0.490427

In [57]:
comb.to_csv('RNA TE T2T1.csv')

In [51]:
comb

            AccNum     Gene   TElogFC  RNAlogFC
0        NM_017847     ODR4  0.254491 -0.074113
1     NM_001003803    ATP5S  0.198872  0.277344
2     NM_001003800    BICD2 -0.144924 -1.142507
3        NM_016649     ESF1  0.109525  0.868714
4        NM_016647    THEM6  0.069620  0.023951
...            ...      ...       ...       ...
7985     NM_019048   ASNSD1  0.006586  0.184588
7986  NM_001282488    PRIM2  0.236743  0.198794
7987     NM_019045    WDR44 -0.193067 -0.842579
7988     NM_019044   CCDC93 -0.007306 -1.176327
7989     NM_019043  APBB1IP -1.286932 -0.427964

[7990 rows x 4 columns]

In [6]:
te10 = pd.read_csv('../csv_raw/TE_t1_t0.csv')
te10.head()

,Unnamed: 0,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj
0,NM_017847,112.294090,0.254491,0.376597,0.675765,0.499190,0.849345
1,NM_001003803,182.333378,0.198872,0.338664,0.587225,0.557053,0.873862
2,NM_001003800,354.785989,-0.144924,0.514703,-0.281568,0.778275,0.955063
3,NM_016649,208.700788,0.109525,0.413694,0.264749,0.791203,0.958769
4,NM_016647,148.352948,0.069620,0.872849,0.079762,0.936427,0.985875

In [7]:
te10.sort_values(by='log2FoldChange')

,Unnamed: 0,baseMean,log2FoldChange,lfcSE,stat,pvalue,padj
7479,NM_000118,1139.388864,-2.651024,0.448170,-5.915216,3.314412e-09,1.103423e-06
6252,NM_002332,2459.045499,-2.583966,0.611025,-4.228902,2.348341e-05,1.246950e-03
1637,NM_001353683,272.513486,-2.450826,0.763623,-3.209472,1.329791e-03,2.796061e-02
7791,NM_003110,326.551211,-2.443128,0.382756,-6.382985,1.736689e-10,1.067395e-07
682,NM_020338,545.814739,-2.325875,0.760726,-3.057440,2.232361e-03,3.999231e-02
...,...,...,...,...,...,...,...
2369,NM_001021,149.393203,1.727296,2.368702,0.729216,4.658694e-01,8.327911e-01
6498,NM_001012,1888.534689,1.812415,0.697434,2.598692,9.357982e-03,1.065104e-01
2683,NM_000972,663.874614,1.830439,0.657815,2.782606,5.392429e-03,7.180918e-02
7573,NM_001007,1436.111188,1.864349,0.607705,3.067852,2.156034e-03,3.936728e-02
4704,NM_001030001,302.881552,1.886992,0.792233,2.381864,1.722524e-02,1.602927e-01